<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/66e794a61e.js" crossorigin="anonymous"></script>
  
<div class="card-navbar mb-3">
        <img src="assets/fondo2.png"width="100%" height="230" alt=""> 
        
<div class="jumbotron">
       
    
    <!-- Autores -->
    <div class="testimonials-area section-padding-100 bg-img bg-overlay" style="background-image: url(/Img/Slider/Slider6.png);">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="section-heading text-center mx-auto white wow fadeInUp" data-wow-delay="300ms">
                     
                      <h1>MINERIA DE DATOS</h1>
                      <br>

                  </div>
              </div>
          </div>
          <div class="row">
              <!-- Autor 1 -->
              <div class="col-12 col-md-6 control">
                  <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="400ms">
                      <div class="testimonial-thumb">
                        <img class="icono" src="assets/algoritmo1.png" width="60" height="60" alt="">
                      </div>
                      <div class="testimonial-content">
                          <h5>Algoritmo 1</h5>
                          
                          <p> Algoritmo (...) </p>
                        
                          <h6> <button type="button" class="btn btn-info m-1" (click)="ingresarAlgoritmo1()" >Ver más</button>  </h6>
                      </div>
                  </div>
              </div>
              <!-- Single Testimonials Area -->
              <div class="col-12 col-md-6">
                  <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="500ms">
                      <div class="testimonial-thumb">
                          <img class="icono" src="assets/algoritmo3.png" width="60" height="60" alt="">

                        
                      </div>
                      <div class="testimonial-content">
                        <h5>Algoritmo 2</h5>
                          
                        <p>Algoritmo (...) </p>
                       
                        <h6> <button type="button" class="btn btn-info m-1" (click)="ingresarAlgoritmo2()" >Ver más</button>  </h6>
                    </div>
                  </div>
              </div>
              <br> <br><br> <br><br> <br><br>
                
              <!-- Single Testimonials Area -->
              <div class="col-12 col-md-6">
                  <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="600ms">
                      <div class="testimonial-thumb">
                        <img class="icono" src="assets/algoritmo2.png" width="60" height="60" alt="">                      </div>
                      <div class="testimonial-content">
                        <h5>Algoritmo 3</h5>
                          
                        <p>Algoritmo (...)</p>
                        
                        <h6> <button type="button" class="btn btn-info m-1" (click)="ingresarAlgoritmo3()"  >Ver más</button>  </h6>
                    </div>
                  </div>
              </div>
              <!-- Single Testimonials Area -->
              <div class="col-12 col-md-6">
                  <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="700ms">
                      <div class="testimonial-thumb">
                        <img class="icono" src="assets/grafico (6).png" width="60" height="60" alt="">
                      </div>
                      <div class="testimonial-content">
                        <h5>Graficos</h5>
                          
                        <p> Ver graficas </p>
                   
                        <h6><button type="button" class="btn btn-info m-1" (click)="ingresarGraficos()" >Ver más</button> </h6>
                    </div>
                  </div>
              </div>
          </div>
        <br>
            
              </div>
          </div>
      </div>

    <hr class="my-4">
    <h5 class="text-center text-info"><strong>© Hugo Alan Castillo González & Luis Ricardo Salazar Ibarra</strong></h5>
    <br>   <br>   <br>
  </div>
 