<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/66e794a61e.js" crossorigin="anonymous"></script>
  
<div class="card-navbar mb-3">
        <img src="assets/fondo2.png"width="100%" height="230" alt=""> 
        
<div class="jumbotron">
       
    
    <!-- Autores -->
    <div class="testimonials-area section-padding-100 bg-img bg-overlay" style="background-image: url(/Img/Slider/Slider6.png);">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="section-heading text-center mx-auto white wow fadeInUp" data-wow-delay="300ms">
                     
                      <h1>CONTROL DE PRODUCTOS</h1>
                      <br>

                  </div>
              </div>
          </div>
          <div class="row">
              <!-- Autor 1 -->
              <div class="col-12 col-md-6 control">
                  <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="400ms">
                      <div class="testimonial-thumb">
                        <img class="icono" src="assets/contenido.png" alt="">
                      </div>
                      <div class="testimonial-content">
                          <h5>Productos</h5>
                          
                          <p> Ver todos los productos de telecomunicaciones </p>
                        
                          <h6> <button type="button" class="btn btn-info m-1" (click)="ingresarLista()" >Ver más</button>  </h6>
                      </div>
                  </div>
              </div>
              <!-- Single Testimonials Area -->
              <div class="col-12 col-md-6">
                  <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="500ms">
                      <div class="testimonial-thumb">
                          <img class="icono" src="assets/inventario.png" width="60" height="60" alt="">

                        
                      </div>
                      <div class="testimonial-content">
                        <h5>Inventario</h5>
                          
                        <p> Ver todos los pedidos de telecomunicaciones </p>
                       
                        <h6> <button type="button" class="btn btn-info m-1" (click)="ingresarLista()" >Ver más</button>  </h6>
                    </div>
                  </div>
              </div>
              <br> <br><br> <br><br> <br><br>
                
              <!-- Single Testimonials Area -->
              <div class="col-12 col-md-6">
                  <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="600ms">
                      <div class="testimonial-thumb">
                        <img class="icono" src="assets/dashboard.png" alt="">                      </div>
                      <div class="testimonial-content">
                        <h5>Mineria de datos </h5>
                          
                        <p>Ver los 3 algoritmos en R</p>
                        
                        <h6> <button type="button" class="btn btn-info m-1" (click)="ingresarMineriaDatos()"  >Ver más</button>  </h6>
                    </div>
                  </div>
              </div>
              <!-- Single Testimonials Area -->
              <div class="col-12 col-md-6">
                  <div class="single-testimonial-area mb-100 d-flex wow fadeInUp" data-wow-delay="700ms">
                      <div class="testimonial-thumb">
                        <img class="icono" src="assets/grafico (6).png" alt="">
                      </div>
                      <div class="testimonial-content">
                        <h5>Graficos</h5>
                          
                        <p> Ver graficas </p>
                   
                        <h6><button type="button" class="btn btn-info m-1" (click)="ingresarGrafico()" >Ver más</button> </h6>
                    </div>
                  </div>
              </div>
          </div>
        <br><br> <br>
          <h2  class="text-center"  >
            <img src="assets/favicon.png"width="50" height="50" alt="">
            Telecomunicación. <br> Es toda transmisión y recepción de señales de cualquier naturaleza, típicamente electromagnéticas.
          </h2>
        <br> <br> <br> 
            
              </div>
          </div>
      </div>

    <hr class="my-4">
    <h5 class="text-center text-info"><strong>© Hugo Alan Castillo González & Luis Ricardo Salazar Ibarra</strong></h5>
    <br>   <br>   <br>
  </div>
 